/** index main
*****************************/

.ui-categories {
    background: #F8F8F8;
    border-color: #E9E9E9 #E9E9E9 #D7D7D7;
    border-radius: 5px 5px 5px 5px;
    border-style: solid;
    border-width: 1px;
    color: #666666;
    font-family: helvetica,'Helvetica Neue',arial,"liberation sans",freesans,sans-serif;
    font-size: 13px;
    margin:5px auto;
}


.ui-categories-l {
    display: block;
    float: left;
    overflow: hidden;
    width: 48px;
}


.ui-categories-icon-1,.ui-categories-icon-2{
    clear: both;
    color: #666666;
    display: block;
    font-weight: normal;
    height: 31px;
    line-height: 37px;
    overflow: hidden;
    padding-left: 8px;
    text-align: center;
}


.ui-categories-r {
    background:#FFFFFF;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    display: block;
    float: left;
    overflow: hidden;
    padding-bottom: 6px;
    padding-left: 11px;
    text-align: left;
    width: 944px;
    word-break: break-all;
}


.ui-categories-r a, .ui-categories-r a:visited, .ui-categories-r a:active, .ui-categories-r a:hover {
    color: #666666;
}
.ui-categories-r a {
    border: 1px solid #FFFFFF;
    border-radius:3px;
    display: block;
    float: left;
    font-weight: normal;
    height: 23px;
    line-height: 23px;
    margin: 6px 12px 0 0;
    padding: 0 5px;
    white-space: nowrap;
}
.ui-categories-r a:hover{ border:1px dashed #3789d5; color:#999; }

.ui-categories-r a.op{ cursor:default;}
.ui-categories-r a.op:hover{border: 1px solid #FFFFFF; color: #666666;}

a.ui-categories-current, a.ui-categories-current:link, a.ui-categories-current:visited, a.ui-categories-current:hover {
    background:#93C215;
    border: 1px solid #84AD14;
    color: #FFFFFF;
    cursor: text;
}


.ui-categories-r-line {
    border-bottom: 1px solid #F8F8F8;
    float: none;
    height: 1px;
    margin-left: -11px;
    padding-top: 5px;
}

.ui-categories, .ui-categories-r-line, .ui-categories-l-line, .ui-categories-icon-1, .ui-categories-icon-2 {
    clear: both;
    display: block;
    overflow: hidden;
}

.ui-categories-l-line {
    border-bottom: 1px solid #FFFFFF;
    height: 1px;
    margin-top: 5px;
}