#book .page {
    font-family: "Times New Roman", "Georgia", serif;
    background-color: #fff
}

#book .page .button {
    font-family: "Helvetica Neue", "Helvetica", Arial, sans-serif
}

#book .page .container {
    position: relative;
    height: 1265px;
    margin: 0 auto
}

#book .hidden {
    opacity: 0
}

#book .hidden.animated {
    opacity: 1
}

#book .workshop, #book .credits, #book .buy, #book .shape {
    position: absolute;
    background-position: 0 0;
    background-repeat: no-repeat
}

#book .yellow.shape {
    background: url(//d3hfcyq4l5y4cg.cloudfront.net/images/book/yellow-shape.png?1361814206);
    width: 577px;
    height: 487px
}

#book .pink.shape {
    background: url(//d3hfcyq4l5y4cg.cloudfront.net/images/book/pink-shape.png?1361814206);
    width: 445px;
    height: 231px
}

#book .orange.shape {
    background: url(//d3o2osst9f0hf4.cloudfront.net/images/book/orange-shape.png?1361814206);
    width: 566px;
    height: 424px
}

#book .blue.shape {
    background: url(//d2z45ikhjva35d.cloudfront.net/images/book/blue-shape.png?1361814206);
    width: 484px;
    height: 243px
}

#book .green.shape {
    background: url(//d3hfcyq4l5y4cg.cloudfront.net/images/book/green-shape.png?1361814206);
    width: 486px;
    height: 159px
}

#book .buy {
    top: 40px;
    left: 50px;
    background-image: url(//d2gk0rjao79rew.cloudfront.net/images/book/reality.png?1361814206);
    width: 415px;
    height: 197px
}

#book .buy .price {
    float: left;
    color: #009fda;
    font-size: 28px;
    margin: 179px 0 0 85px
}

#book .buy .button {
    margin: 179px 0 0 20px
}

#book .awards {
    top: 33px;
    right: 0
}

#book .awards img {
    margin: -18px 0 0 123px
}

#book .summary {
    top: 288px;
    left: 0
}

#book .summary img {
    margin: 57px 0 0 60px
}

#book .introduction {
    top: 520px;
    left: 0
}

#book .introduction .video {
    margin: 28px 0 0 28px;
    width: 500px;
    height: 326px;
    border: 10px solid #fff
}

#book .credits {
    top: 552px;
    left: 570px;
    z-index: 2
}

#book .workshop {
    top: 555px;
    right: 0
}

#book .quote {
    top: 975px;
    left: 0
}

#book .quote img {
    margin: 39px 0 0 60px
}

#book .inventors {
    top: 1018px;
    left: 481px
}

#book .inventors img {
    margin: 0 0 0 115px
}
